
body {background-image: url(hello.png);}
h1 {
font-size: 70px;
font-family: fantasy;
text-align: center;
color: pink;
filter: drop-shadow(1px 1px 7px pink);
animation: slideUp 2s
alternate;
} 
@keyframes slideUp {
    0% {transform: translate(20px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
video {display: flex;
margin-left: auto;
margin-right: auto;
animation: slideUp 2s
alternate;
} 
@keyframes slideUp {
    0% {transform: translate(20px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
marquee {
color: pink;
filter: drop-shadow(1px 1px 7px pink);
font-family: fantasy;
font-size: 40px;

}